.footer {
  text-align: center;
  color: rgb(199, 199, 199);
  background-color: #1d2636;
  padding: 4rem 0 1rem;
}
.logo-footer {
  height: 70px;
}
.common-btn {
  background-color: #ffa500;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.common-btn:hover {
  background-color: coral;
}
.footer-nav li,
.footer-social-nav li {
  color: rgb(218, 218, 218);
  padding: 20px;
}
.footer-nav li:hover,
.footer-social-nav li:hover {
  color: #ffa500;
}
.copyright {
  text-align: center;
  color: #808080;
  font-size: 15px;
}
.footer-social-nav li {
  margin: 0 0 10px;
  font-size: 1.3rem;
}
